@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #191919;
  font-family: 'Inter', sans-serif;
}

/* Home Section*/
.home-container {
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 72rem;
  padding: 0.5rem 2rem;
  margin: 15px auto;
}

header h1 {
  background: linear-gradient(to right, #00C0FD, #E70FAA);
  background-clip: text;
  color: transparent;
}

.fa-bars,
.fa-xmark {
  color: #A7A7A7;
  font-size: 25px;
  display: none;
  z-index: 20;
}

nav ul {
  display: flex;
  align-items: center;
}

.navlinks {
  width: auto;
  z-index: 10;
}

nav ul li {
  list-style: none;
  margin-right: 15px;
}

nav ul li a  {
	color: #A7A7A7;
	text-decoration: none;
	position: relative;
  font-size: 18px;
}

nav ul li a::after {
	content: '';
	width: 0;
	height: 3px;
	background: #E70FAA;
	position: absolute;
	left: 0;
	bottom: -6px;
	transition: 0.5s;
}

nav ul li a:hover::after {
	width: 100%;
}

.socials {
  display: flex;
  align-items: center;
  position: relative;
}

.socials i {
  color: #A7A7A7;
  margin-right: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.5s;
}

.socials i:hover {
  transform: translateY(-3px);
  color: #E70FAA;
}

.home-container main {
  margin: 20vh auto 0 auto;
  max-width: 72rem;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name-section h1 {
  line-height: 1.5;
  color: #D9D9D9;
  letter-spacing: 3px;
  font-size: 30px;
}

.name-section span {
  background: linear-gradient(to right, #13B0F5, #E70FAA);
  background-clip: text;
  color: transparent;
  font-weight: 700;
  font-size: 2rem;
}

.picture-section {
  width: 280px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
}

.picture-section img {
  width: 95%;
  height: 95%;
  object-fit: cover;
  border-radius: 50%;
}

.gradient-div {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -11;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom, #E70FAA, #13B0F5); 
  border-radius: 50%;
}

/* About  */
#about {
  max-width: 72rem;
  padding: 0.5rem 2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#about h1 {
  background: linear-gradient(to right, #00C0FD, #E70FAA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 5px;
  display: inline;
  font-size: 40px;
  font-weight: 800;
}

.about-me p  {
  color: #D9D9D9;
  font-size: 20px;
  margin: 30px 0;
  line-height: 2;
  text-align: justify;
}

.education {
  color: #D9D9D9;   
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #A7A7A7;
  padding-bottom: 30px;
}

.education  h1 {
  margin-bottom: 30px;
  display: inline;
  max-width: 100%;
}

.education-details {
  display: flex;
  justify-content: space-between;
}

.institution h3 {
  margin-bottom: 15px;
  letter-spacing: 2px;
  font-weight: 300;
}

.institution p {
  font-weight: 100;
  letter-spacing: 3px;
}

.duration small {
  background: #D7FFE0;
  color: #018C0F;
  padding: 8px 15px;
  border-radius: 20px;
}

.duration p {
  font-weight: 100;
  letter-spacing: 2px;
  margin-top: 15px;
}

.duration i {
  margin-right: 10px;
}

/* TECH STACK */
#techstack {
  max-width: 72rem;
  padding: 0.5rem 2rem;
  margin: 50px auto;
}

#techstack  h1 {
  background: linear-gradient(to right, #00C0FD, #E70FAA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 5px;
  display: inline;
  font-size: 30px;
}

#techstack  p {
  margin-top: 20px;
  color: #D9D9D9;
  font-size: 18px;
}

.icons-container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-row-gap: 50px;
}


/* Projects */
#projects {
  max-width: 72rem;
  padding: 0.5rem 2rem;
  margin: 20px auto;
}

#projects h1 {
  background: linear-gradient(to right, #00C0FD, #E70FAA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 5px;
  display: inline;
  font-size: 30px;
}

#projects >  p {
  margin-top: 20px;
  color: #D9D9D9;
  font-size: 18px;
}

.projects-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project-card {
  display: flex;
  flex-direction: column;
  width: 280px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  margin-bottom: 40px;
}

.project-card:hover {
  transform: scale(1.03);
}

.project-card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.project-details {
  width: 90%;
  margin: 0 auto;
  color: #D9D9D9; 
  margin-bottom: 10px;
  cursor: auto;
}

.project-details h4 {
  margin: 5px 0 8px 0;
}

.project-description {
  margin-bottom: 15px;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.actions span i {
  margin-right: 5px;
}

.actions span a {
  color: #D7FFE0;
  font-size: 13px;
}

/* Contact */ 
#contact {
  max-width: 72rem;
  padding: 0.5rem 2rem 10px 0.5rem;
  margin: 10px auto;
  display: flex;  
  justify-content: space-between;
  align-items: center;
  color: #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
}

#contact h1 {
  letter-spacing: 2px;
  font-weight: 300;
}

#contact article {
  display: flex;
  justify-content: space-between;
}

.contact-info {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.contact-info p {
  margin-right: 5px;
}

#credit {
  max-width: 72rem;
  padding: 0.5rem 2rem 10px 0.5rem;
  margin: 10px auto;
  color: #D9D9D9;
}

#credit a {
  color: #00C0FD;
}


@media screen and (max-width: 700px) {

  header {
    position: fixed;
    top: -15px;
    width: 100%;
    background-color: rgba(30, 30, 30, 0.8);
    z-index: 1;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    background-color: #E70FAA;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    overflow: hidden;
    transition: all 0.5s ease;
  }

  .navlinks {
    width: 50%;
  }

  .hide-links {
    width: 0;
  }

  nav ul li:first-child {
    margin-top: 70px;
  }

  nav ul li,
  .socials {
    margin-top: 20px;
  }

  nav ul li a {
    color: white;
  }

  .fa-bars,
  .fa-xmark {
    margin-left: auto;
    display: block;
    color: white;
  }

  .home-container main {
    flex-direction: column-reverse;
    margin-top: 5vh;
    align-items: flex-start;
  }

  .picture-section {
    margin-top: 10px;
  }

  /* About */ 
  .education-details {
    flex-direction: column;
  }

  .institution p {
    margin-bottom: 20px;
  }

  .projects-container {
    justify-content: center;
  }


}


@media screen and (max-width: 550px) {
  .icons-container {
    grid-template-columns: repeat(3,1fr);
  }

 #contact {
  align-items: center;
  justify-content: center;
 }

  #contact h1 {
  display: none;
 }

  #contact article {
  flex-direction: column;
 }

 .contact-info {
  flex-direction: column;
 }
}